@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@font-face {
  font-family: 'Apfel';
  src: url("fonts/ApfelGrotezk-Regular.woff2") format("woff2"), url("fonts/ApfelGrotezk-Regular.woff") format("woff");
}

p, body > header.home p, body > footer, #newsletter small {
  letter-spacing: 0.002em;
  font-weight: 400;
}

h1, .h1, #top-nav nav ul li#logo a {
  letter-spacing: -0.005em;
  font-weight: 700;
}

.large, .bigger, h2, .category h1 {
  letter-spacing: -0.005em;
  font-weight: 600;
}

ul.tool-list .tool-tile, ul.blog-list .tool-tile, ul.tool-list .tool-tile:not(#more-latest-posts):hover, ul.blog-list .tool-tile:not(#more-latest-posts):hover, .tool-list-items .tool-list-item {
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.15rem;
}

.icon, main.post article .update time::before {
  display: inline-block;
  position: relative;
  width: 1.25em;
  height: 1.25em;
  fill: #1F50D6;
  top: 0.2em;
}

body {
  font-family: 'Apfel', sans-serif;
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-weight: 600;
}

@media (max-width: 1023px) {
  body {
    font-size: 4vmin;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 19px;
  }
}

input:focus {
  outline: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .wrapper, .wrapper-mobile {
    width: calc(100% - 6.25vw);
  }
  .wrapper-mobile {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .wrapper, .wrapper-desktop {
    width: calc(100% - 18.75vw);
  }
  .wrapper-desktop {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.large {
  line-height: 1.2em;
  font-family: 'Apfel', sans-serif;
}

@media (max-width: 1023px) {
  .large {
    font-size: 9vmin;
  }
}

@media (min-width: 1024px) {
  .large {
    font-size: 42.75px;
  }
}

.larger, h1, .h1, body > header:not(.post) h1, header.post .wrapper:not(#top-nav) > div h1 {
  font-family: 'Apfel', sans-serif;
}

@media (max-width: 1023px) {
  .larger, h1, .h1, body > header:not(.post) h1, header.post .wrapper:not(#top-nav) > div h1 {
    font-size: 8vmin;
  }
}

@media (min-width: 1024px) {
  .larger, h1, .h1, body > header:not(.post) h1, header.post .wrapper:not(#top-nav) > div h1 {
    font-size: 66.5px;
  }
}

.bigger, h2, .category h1 {
  line-height: 1.4em;
}

@media (max-width: 1023px) {
  .bigger, h2, .category h1 {
    font-size: 5.25vmin;
  }
}

@media (min-width: 1024px) {
  .bigger, h2, .category h1 {
    font-size: 25.65px;
  }
}

.smaller, label, .btn, .filter.active, .filter, ul.tool-list .tool-tile h2, ul.blog-list .tool-tile h2, ul.tool-list .tool-tile p, ul.blog-list .tool-tile p, #categories-names header, #categories-names li a, blockquote::before, #tool-page aside header, .tool-list-items .tool-list-item h2 + p {
  line-height: 1.4;
}

@media (max-width: 1023px) {
  .smaller, label, .btn, .filter.active, .filter, ul.tool-list .tool-tile h2, ul.blog-list .tool-tile h2, ul.tool-list .tool-tile p, ul.blog-list .tool-tile p, #categories-names header, #categories-names li a, blockquote::before, #tool-page aside header, .tool-list-items .tool-list-item h2 + p {
    font-size: 4vmin;
  }
}

@media (min-width: 1024px) {
  .smaller, label, .btn, .filter.active, .filter, ul.tool-list .tool-tile h2, ul.blog-list .tool-tile h2, ul.tool-list .tool-tile p, ul.blog-list .tool-tile p, #categories-names header, #categories-names li a, blockquote::before, #tool-page aside header, .tool-list-items .tool-list-item h2 + p {
    font-size: 16.15px;
  }
}

.min, #whats-new #tools .tool-list h2, #whats-new #tools ul.blog-list h2 {
  font-weight: 500;
}

@media (max-width: 1023px) {
  .min, #whats-new #tools .tool-list h2, #whats-new #tools ul.blog-list h2 {
    font-size: 4vmin;
  }
}

@media (min-width: 1024px) {
  .min, #whats-new #tools .tool-list h2, #whats-new #tools ul.blog-list h2 {
    font-size: 13.3px;
  }
}

.base, #top-nav nav ul li#logo a, ul.tool-list header h1, ul.blog-list header h1, header.post .wrapper:not(#top-nav) > div h2, .tool-list-items .tool-list-item h2 {
  line-height: 1.8;
}

@media (max-width: 1023px) {
  .base, #top-nav nav ul li#logo a, ul.tool-list header h1, ul.blog-list header h1, header.post .wrapper:not(#top-nav) > div h2, .tool-list-items .tool-list-item h2 {
    font-size: 4vmin;
  }
}

@media (min-width: 1024px) {
  .base, #top-nav nav ul li#logo a, ul.tool-list header h1, ul.blog-list header h1, header.post .wrapper:not(#top-nav) > div h2, .tool-list-items .tool-list-item h2 {
    font-size: 19px;
  }
}

@media (max-width: 1023px) {
  .mobile-hidden {
    display: none;
  }
}

@media (min-width: 1024px) {
  .desktop-hidden {
    display: none;
  }
}

.cross {
  display: inline-flex;
  width: 1em;
  height: 1em;
  font-size: 1.3em;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
}

.cross:hover {
  cursor: pointer;
}

#cookies {
  padding: 0.5em;
  background-color: #030712;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  #cookies .cross {
    font-size: 0.8em;
    position: relative;
    top: 0.15em;
  }
}

#cookies a {
  display: inline;
  color: #F1D693;
  border-bottom: 1px solid transparent;
}

#cookies a:hover {
  border-bottom: 1px solid #F1D693;
}

a {
  text-decoration: none;
  color: rgba(3, 7, 18, 0.85);
  transition: all 0.4s ease-in-out;
}

label {
  font-weight: normal;
}

input {
  transition: all 0.4s ease-in-out;
}

@media (min-width: 1024px) {
  input {
    min-width: 12.5em;
  }
}

input[type=text], input[type=email] {
  padding: 0.75em 1.5em;
  border: 2px solid #030712;
  border-radius: 0.15rem;
}

input[type=text]:focus-within, input[type=email]:focus-within {
  border-color: #1F50D6;
}

@media (max-width: 1023px) {
  input[type=text], input[type=email] {
    font-size: 4vmin;
  }
}

@media (min-width: 1024px) {
  input[type=text], input[type=email] {
    font-size: 19px;
  }
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  display: flex;
  align-items: center;
  padding-left: 1em;
}

input[type=checkbox] + label::before {
  content: '';
  background: #fff;
  border: 4px solid #fff;
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  border-radius: 100%;
  position: relative;
  left: -1em;
  transition: all 0.4s ease-in-out;
}

input[type=checkbox] + label:hover {
  cursor: pointer;
}

input[type=checkbox] + label:hover::before {
  background: #1F50D6;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(3, 7, 18, 0.35);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(3, 7, 18, 0.35);
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(3, 7, 18, 0.35);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(3, 7, 18, 0.35);
}

p {
  line-height: 1.8;
  letter-spacing: 0em;
  color: rgba(3, 7, 18, 0.85);
}

time {
  color: rgba(3, 7, 18, 0.85);
}

ul {
  margin-left: 0;
  padding-left: 0;
}

ul li {
  list-style-type: none;
}

.link {
  color: #1F50D6;
  border-bottom: 2px solid transparent;
  transition: all 0.4s ease-in-out;
}

.link:hover {
  border-bottom: 2px solid #1F50D6;
}

img, video {
  max-width: 100%;
  border-radius: 0.15rem;
}

.btn, .filter.active {
  background: #1F50D6;
  color: #fff;
  display: inline-block;
  border-radius: 1.5em;
  padding: 0.35em 1em;
  border: none;
  transition: all 0.4s ease-in-out;
}

.btn.big, .big.filter.active {
  border-radius: 3em;
  padding: 1em 3em;
}

@media (max-width: 1023px) {
  .btn.big, .big.filter.active {
    font-size: 4vmin;
  }
}

@media (min-width: 1024px) {
  .btn.big, .big.filter.active {
    font-size: 19px;
  }
}

.btn.min, .min.filter.active, #whats-new #tools .tool-list h2.filter.active, #whats-new #tools ul.blog-list h2.filter.active, #whats-new #tools .tool-list h2.btn, #whats-new #tools ul.blog-list h2.btn {
  background: transparent;
  padding: 0;
  border-radius: 0;
  color: #1F50D6;
  border-bottom: 0.1em solid transparent;
}

@media (max-width: 1023px) {
  .btn.min, .min.filter.active, #whats-new #tools .tool-list h2.filter.active, #whats-new #tools ul.blog-list h2.filter.active, #whats-new #tools .tool-list h2.btn, #whats-new #tools ul.blog-list h2.btn {
    font-size: 4vmin;
  }
}

@media (min-width: 1024px) {
  .btn.min, .min.filter.active, #whats-new #tools .tool-list h2.filter.active, #whats-new #tools ul.blog-list h2.filter.active, #whats-new #tools .tool-list h2.btn, #whats-new #tools ul.blog-list h2.btn {
    font-size: 16.15px;
  }
}

.btn.min:hover, .min.filter.active:hover, #whats-new #tools .tool-list h2.filter.active:hover, #whats-new #tools ul.blog-list h2.filter.active:hover, #whats-new #tools .tool-list h2.btn:hover, #whats-new #tools ul.blog-list h2.btn:hover {
  background-color: transparent;
  border-bottom: 0.1em solid #1F50D6;
  color: #1F50D6;
}

.btn.min.yellow, .min.yellow.filter.active, #whats-new #tools .tool-list h2.yellow.filter.active, #whats-new #tools ul.blog-list h2.yellow.filter.active, #whats-new #tools .tool-list h2.btn.yellow, #whats-new #tools ul.blog-list h2.btn.yellow {
  color: #F1D693;
}

.btn.min.yellow:hover, .min.yellow.filter.active:hover, #whats-new #tools .tool-list h2.yellow.filter.active:hover, #whats-new #tools ul.blog-list h2.yellow.filter.active:hover, #whats-new #tools .tool-list h2.btn.yellow:hover, #whats-new #tools ul.blog-list h2.btn.yellow:hover {
  border-bottom: 0.1em solid #F1D693;
  color: #F1D693;
}

.btn:hover, .filter.active:hover {
  background: #E63746;
  color: #fff;
  cursor: pointer;
}

.btn.red, .red.filter.active {
  background-color: #E63746;
}

.btn.red:hover, .red.filter.active:hover {
  background: #c71928;
}

.caps, .btn, .filter.active, ul.tool-list .tool-tile h2, ul.blog-list .tool-tile h2, #categories-names header, #tool-page aside header, #tool-page aside .tool-tile h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.filter {
  display: inline-block;
  border-radius: 1.5em;
  padding: 0.35em 1em;
  margin-bottom: 1em;
  margin-right: 0.5em;
  transition: all 0.4s ease-in-out;
  background-color: rgba(216, 228, 255, 0.5);
}

.filter a {
  color: #030712;
}

.filter:hover {
  cursor: pointer;
  background-color: #D8E4FF;
}

.filter:hover a {
  color: #1F50D6;
}

.ad {
  padding: 1em;
  width: 100%;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(3, 7, 18, 0.04);
  color: rgba(0, 0, 0, 0.04);
  border: 1px solid #729dff;
  font-weight: normal;
  box-sizing: border-box;
}

#top-nav {
  border-bottom: 2px solid rgba(3, 7, 18, 0.04);
}

#top-nav nav {
  padding: 0.5em 0;
}

@media (max-width: 1023px) {
  #top-nav nav {
    width: calc(100% - 6.25vw);
    margin: 0 auto;
  }
}

#top-nav nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

#top-nav nav ul li {
  display: inline-flex;
  padding: 0.25em 1.25vw;
  justify-content: center;
}

@media (min-width: 1024px) {
  #top-nav nav ul li {
    font-size: 16.15px;
  }
}

#top-nav nav ul li#logo {
  margin-right: auto;
}

#top-nav nav ul li#logo a {
  color: #030712;
  display: flex;
  align-items: center;
}

#top-nav nav ul li#logo a:hover {
  text-shadow: 0 0 2rem rgba(31, 80, 214, 0.2);
  color: #1F50D6;
}

#top-nav nav ul li#logo a img {
  box-shadow: none;
  height: 1em;
  margin: 0 0.5em;
}

#top-nav nav ul li a {
  color: rgba(3, 7, 18, 0.85);
  font-weight: 400;
}

#top-nav nav ul li a.active, #top-nav nav ul li a:hover {
  color: #1F50D6;
}

@media (max-width: 1023px) {
  #top-nav nav ul li a#submit-a-tool {
    font-size: 0;
    border: none;
    border-radius: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  #top-nav nav ul li a#submit-a-tool::before {
    content: url("images/icons/plus-regular.svg");
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: .75rem;
    height: .75rem;
    border-radius: 2rem;
    position: relative;
    top: 0.375rem;
  }
}

@media (min-width: 1024px) {
  #top-nav nav ul li a#submit-a-tool {
    margin: 0;
  }
}

body > header {
  box-sizing: border-box;
  color: #030712;
  background-color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  backdrop-filter: saturate(0%);
  display: flex;
  flex-direction: column;
}

@media (max-width: 1023px) {
  body > header ul, body > header .min, body > header #whats-new #tools .tool-list h2, #whats-new #tools .tool-list body > header h2, body > header #whats-new #tools ul.blog-list h2, #whats-new #tools ul.blog-list body > header h2 {
    display: none;
  }
}

body > header .wrapper:not(#top-nav) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 0 0 0;
  text-align: center;
  mix-blend-mode: none;
}

body > header:not(.post) h1 {
  line-height: 1;
}

body > header p {
  margin-top: 0;
}

@media (max-width: 1023px) {
  body > header p {
    font-size: 4vmin;
    margin-bottom: 5.25vmin;
  }
}

@media (min-width: 1024px) {
  body > header p {
    font-size: 19px;
    margin-bottom: 25.65px;
  }
}

body > header img {
  max-width: 100%;
}

body > header .min, body > header #whats-new #tools .tool-list h2, #whats-new #tools .tool-list body > header h2, body > header #whats-new #tools ul.blog-list h2, #whats-new #tools ul.blog-list body > header h2 {
  margin: 0.5em;
}

body > header.home {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  margin-bottom: 6.25vw;
}

body > header.home #top-nav a {
  color: rgba(3, 7, 18, 0.85);
}

body > header.home #logo a {
  color: rgba(3, 7, 18, 0.85) !important;
}

body > header.home h1 {
  font-weight: 600;
  margin-left: 0.25rem;
}

body > header.home h1 span:nth-of-type(1) {
  color: #1F50D6;
}

body > header.home h1 span:nth-of-type(2) {
  color: #E63746;
}

body > header.home .wrapper:not(#top-nav) {
  align-items: baseline;
  position: relative;
  text-align: center;
}

body > header.home img {
  box-shadow: none;
  border-radius: 0;
}

@media (max-width: 1023px) {
  body > header.home .wrapper:nth-of-type(2) {
    margin-top: 6.25vw;
    margin-bottom: 12.5vw;
  }
}

body > header.home #cursor-default {
  width: 2em;
  position: absolute;
}

@media (max-width: 1023px) {
  body > header.home #cursor-default {
    top: 10em;
    right: 3.5em;
  }
}

@media (min-width: 1024px) {
  body > header.home #cursor-default {
    top: 25vh;
    right: calc(50vw - 24rem);
  }
}

body > header.home #cursor-pointer {
  width: 2em;
}

@media (max-width: 1023px) {
  body > header.home #cursor-pointer {
    position: relative;
    top: 2em;
  }
}

@media (min-width: 1024px) {
  body > header.home #cursor-pointer {
    position: absolute;
    transform: rotate(90deg);
    top: 26rem;
    left: calc(50vw - 24rem);
  }
}

body > header.home #grid {
  display: none;
  position: absolute;
  z-index: -1;
  top: 10vh;
  opacity: 0.15;
}

@media (max-width: 1023px) {
  body > header.home #grid {
    width: 30rem;
    left: 8vw;
  }
}

@media (min-width: 1024px) {
  body > header.home #grid {
    width: 50vw;
    left: 18vw;
  }
}

body > header.home #dots {
  position: absolute;
  z-index: -1;
  top: 18vh;
  opacity: 0.1;
}

@media (max-width: 1023px) {
  body > header.home #dots {
    width: 40vw;
    right: 2vw;
  }
}

@media (min-width: 1024px) {
  body > header.home #dots {
    width: 15vw;
    right: 22vw;
  }
}

body > header.home .filter {
  margin: 0.35em;
  background-color: darken;
}

body > header.home p {
  line-height: 1.4;
  color: rgba(3, 7, 18, 0.85);
  margin: 0.5em 0 1.5em 0.5rem;
}

body > header.home .min, body > header.home #whats-new #tools .tool-list h2, #whats-new #tools .tool-list body > header.home h2, body > header.home #whats-new #tools ul.blog-list h2, #whats-new #tools ul.blog-list body > header.home h2 {
  color: rgba(3, 7, 18, 0.85);
  font-weight: 500;
}

body > header.home .btn.big, body > header.home .big.filter.active {
  margin: 1.5625vw auto;
}

body > footer {
  background: #fff;
  color: rgba(3, 7, 18, 0.85);
}

@media (max-width: 1023px) {
  body > footer {
    padding: 6.25vw 0 3.125vw 0;
  }
}

@media (min-width: 1024px) {
  body > footer {
    padding: 0.78125vw 0;
  }
}

body > footer > .wrapper {
  align-items: center;
  display: flex;
}

@media (max-width: 1023px) {
  body > footer > .wrapper {
    flex-direction: column-reverse;
    font-size: 13.3px;
  }
}

@media (min-width: 1024px) {
  body > footer > .wrapper {
    justify-content: space-between;
    font-size: 16.15px;
  }
}

@media (max-width: 1023px) {
  body > footer > .wrapper span {
    padding: 0.25em 1em;
  }
}

body > footer > .wrapper a {
  color: inherit;
}

body > footer > .wrapper a:hover {
  color: #1F50D6;
}

body > footer > .wrapper ul {
  margin: 0;
}

body > footer > .wrapper ul li {
  display: inline-block;
}

@media (max-width: 1023px) {
  body > footer > .wrapper ul li {
    padding: 0.25em 1em;
  }
}

@media (min-width: 1024px) {
  body > footer > .wrapper ul li {
    padding: 1em;
  }
}

body > footer > .wrapper ul:last-of-type li:last-of-type {
  padding-right: 0;
}

main#scroll-container {
  position: relative;
}

@media (min-width: 1024px) {
  main#scroll-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 3.125vw;
  }
}

.category {
  margin-bottom: 12.5vw;
  position: relative;
}

.category h1 {
  margin: 0;
  padding-top: 1rem;
}

.category h1 + p {
  margin-bottom: 3.125vw;
  padding-right: 2em;
}

ul.tool-list, ul.blog-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 4.6875vw;
}

@media (max-width: 1023px) {
  ul.tool-list, ul.blog-list {
    grid-gap: 6.25vw;
  }
}

@media (min-width: 1024px) {
  ul.tool-list, ul.blog-list {
    grid-gap: 3.125vw;
  }
}

ul.tool-list header, ul.blog-list header {
  grid-column: 1 / -1;
}

@media (min-width: 1024px) {
  ul.tool-list header h1, ul.blog-list header h1 {
    margin-bottom: -1em;
  }
}

ul.tool-list .tool-tile, ul.blog-list .tool-tile {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}

ul.tool-list .tool-tile:hover, ul.blog-list .tool-tile:hover {
  transform: scale(1.025);
}

ul.tool-list .tool-tile:hover .img-wrapper, ul.blog-list .tool-tile:hover .img-wrapper {
  transform: rotate(360deg);
}

ul.tool-list .tool-tile:hover h2, ul.blog-list .tool-tile:hover h2 {
  color: #1F50D6;
}

ul.tool-list .tool-tile a, ul.blog-list .tool-tile a {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1023px) {
  ul.tool-list .tool-tile a, ul.blog-list .tool-tile a {
    padding: 1em 0.75em;
  }
  ul.tool-list .tool-tile a p, ul.blog-list .tool-tile a p {
    display: none;
  }
}

@media (min-width: 1024px) {
  ul.tool-list .tool-tile a, ul.blog-list .tool-tile a {
    padding: 1.5em 0.75em;
  }
  ul.tool-list .tool-tile a p, ul.blog-list .tool-tile a p {
    font-size: 13.3px;
  }
}

ul.tool-list .tool-tile a .img-wrapper, ul.blog-list .tool-tile a .img-wrapper {
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #030712;
  position: relative;
  color: #fff;
  border-radius: 100%;
  display: inline-flex;
  transition: all 0.4s ease-in;
}

@media (max-width: 1023px) {
  ul.tool-list .tool-tile a .img-wrapper, ul.blog-list .tool-tile a .img-wrapper {
    height: 15vmin;
    width: 15vmin;
  }
}

@media (min-width: 1024px) {
  ul.tool-list .tool-tile a .img-wrapper, ul.blog-list .tool-tile a .img-wrapper {
    height: 8vmin;
    width: 8vmin;
  }
}

ul.tool-list .tool-tile a .btn, ul.blog-list .tool-tile a .btn, ul.tool-list .tool-tile a .filter.active, ul.blog-list .tool-tile a .filter.active {
  color: #1F50D6;
  font-weight: 700;
  padding: 0.75em 1.5em;
  border-radius: 1.5em;
  margin-top: 1.5em;
}

ul.tool-list .tool-tile a .btn:hover, ul.blog-list .tool-tile a .btn:hover, ul.tool-list .tool-tile a .filter.active:hover, ul.blog-list .tool-tile a .filter.active:hover {
  background-color: rgba(31, 80, 214, 0.2);
}

ul.tool-list .tool-tile:not(#more-latest-posts):hover, ul.blog-list .tool-tile:not(#more-latest-posts):hover {
  cursor: pointer;
}

ul.tool-list .tool-tile:not(#more-latest-posts):hover .btn, ul.blog-list .tool-tile:not(#more-latest-posts):hover .btn, ul.tool-list .tool-tile:not(#more-latest-posts):hover .filter.active, ul.blog-list .tool-tile:not(#more-latest-posts):hover .filter.active {
  background-color: rgba(31, 80, 214, 0.125);
}

ul.tool-list .tool-tile h2, ul.blog-list .tool-tile h2 {
  padding: 1em 0;
  padding-bottom: 0.5em;
  margin: 0;
}

ul.tool-list .tool-tile p, ul.blog-list .tool-tile p {
  margin: 0;
}

ul.blog-list {
  align-items: flex-start;
}

#read-more ul.blog-list {
  grid-template-columns: 1fr !important;
}

@media (min-width: 1024px) {
  ul.blog-list {
    grid-template-columns: repeat(auto-fit, minmax(18.75vw, 1fr)) !important;
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  #read-more ul.blog-list {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media (max-width: 1023px) {
  ul.blog-list > header {
    margin-bottom: 0;
    margin-top: 6.25vw;
  }
}

ul.blog-list li {
  padding: 1rem;
  text-align: left;
  box-shadow: unset;
  align-items: flex-start;
  flex-direction: row;
  background: #fff;
  border-radius: 0.15rem;
}

ul.blog-list li img {
  margin-bottom: 1rem;
  background-color: #030712;
}

ul.blog-list li a {
  align-items: baseline;
}

ul.blog-list li .time {
  display: inline-block;
}

ul.blog-list li header {
  margin-top: .5em;
}

#filters {
  margin-bottom: 3.125vw;
  position: sticky;
  padding-top: 1.5em;
  left: 0;
  top: 0;
  z-index: 1;
  height: calc(100vh - 6.25vw);
  display: none;
}

#categories-names {
  left: 0;
  top: 0;
  z-index: 3;
  background-color: #fff;
}

@media (max-width: 1023px) {
  #categories-names {
    position: sticky;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  #categories-names {
    margin-bottom: 3.125vw;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 3.125vw;
    position: sticky;
    height: 100vh;
  }
}

#categories-names::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1023px) {
  #categories-names header {
    padding: 3.125vw;
  }
}

#categories-names ul {
  margin-top: 0;
}

@media (max-width: 1023px) {
  #categories-names ul {
    margin: 0;
    display: inline-flex;
    width: 100vw;
    position: relative;
    overflow-x: scroll;
  }
}

@media (min-width: 1024px) {
  #categories-names ul {
    padding-top: 1em;
  }
}

#categories-names li a {
  display: block;
}

@media (max-width: 1023px) {
  #categories-names li a {
    padding: 0.75em 3.125vw;
    white-space: nowrap;
  }
}

@media (min-width: 1024px) {
  #categories-names li a {
    padding: 0.25em 0;
  }
  #categories-names li a:hover {
    cursor: pointer;
    color: #1F50D6;
  }
}

#categories-names li a.active {
  color: #1F50D6;
}

@media (max-width: 1023px) {
  ul.tool-list, ul.blog-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  ul.tool-list, ul.blog-list {
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  }
}

#more-latest-posts > ul > header {
  margin-bottom: 1rem !important;
}

#whats-new {
  background: #fff;
}

@media (max-width: 1023px) {
  #whats-new {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  #whats-new {
    padding: 0 0 1.5625vw 0;
  }
}

#whats-new .btn, #whats-new .filter.active {
  margin-top: 0.5rem;
}

#whats-new #tools {
  background-color: rgba(3, 7, 18, 0.04);
  border-radius: 0.15rem;
}

#whats-new #tools header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1023px) {
  #whats-new #tools {
    padding: 3.125vw;
  }
  #whats-new #tools header {
    margin-bottom: 1rem;
  }
}

@media (min-width: 1024px) {
  #whats-new #tools {
    padding: 3.125vw;
  }
}

#whats-new #tools .tool-list, #whats-new #tools ul.blog-list {
  margin: 0 auto;
  padding: 1.5625vw;
}

@media (min-width: 1024px) {
  #whats-new ul.tool-list, #whats-new ul.blog-list {
    grid-template-columns: repeat(6, 1fr);
  }
}

#whats-new ul.blog-list {
  padding: 6.25vw 0;
  margin-bottom: 0;
}

@media (max-width: 1023px) {
  #whats-new ul.blog-list {
    grid-template-columns: 1fr;
  }
  #whats-new ul.blog-list > header {
    padding: 0 1rem;
  }
  #whats-new ul.blog-list #more-latest-posts {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  #whats-new ul.blog-list {
    grid-template-columns: 1fr 4fr 2fr 2fr;
  }
  #whats-new ul.blog-list li header {
    margin: 0;
  }
}

#whats-new ul.blog-list ul > header {
  padding: 0 1rem;
}

#whats-new ul.blog-list ul .btn, #whats-new ul.blog-list ul .filter.active {
  margin: 1rem;
}

#why {
  background: #fff;
  color: #1B1F3B;
}

@media (max-width: 1023px) {
  #why {
    padding: 6.25vw 0;
  }
}

@media (min-width: 1024px) {
  #why {
    padding: 4.6875vw 0 1.5625vw 0;
  }
}

#why .wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5625vw;
  box-sizing: border-box;
}

#why .wrapper > header {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

#why .wrapper > header > span {
  color: #030712;
  text-align: center;
}

#why .wrapper img {
  margin-bottom: 1rem;
}

@media (max-width: 1023px) {
  #why .wrapper img {
    max-width: 12.5vw;
  }
}

@media (min-width: 1024px) {
  #why .wrapper img {
    max-width: 6.25vw;
  }
}

#why .wrapper ul {
  margin: 0;
}

#why .wrapper li:last-of-type p {
  margin-bottom: 0;
}

#why .wrapper p {
  line-height: 1.4;
}

#why ul {
  display: grid;
  grid-gap: 1.5625vw;
}

@media (max-width: 1023px) {
  #why ul {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1024px) {
  #why ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#why ul li {
  position: relative;
  padding: 1.5625vw;
  text-align: center;
}

#newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(3, 7, 18, 0.04);
}

#newsletter .wrapper {
  border-radius: 0.15rem;
}

@media (max-width: 1023px) {
  #newsletter .wrapper {
    padding: 6.25vw;
  }
}

@media (min-width: 1024px) {
  #newsletter .wrapper {
    padding: 3.125vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 3.125vw;
  }
}

#newsletter header {
  font-weight: 600;
  color: #030712;
}

@media (max-width: 1023px) {
  #newsletter header {
    font-size: 5.25vmin;
  }
}

#newsletter p, #newsletter small {
  color: rgba(3, 7, 18, 0.85);
}

#newsletter img {
  background-color: rgba(3, 7, 18, 0.04);
  margin: 0 auto;
}

#newsletter .btn:hover, #newsletter .filter.active:hover {
  background: #030712;
}

@media (max-width: 1023px) {
  #newsletter #mc_embed_signup {
    width: 100%;
  }
  #newsletter img {
    display: none;
  }
}

#newsletter .input-group {
  display: grid;
  grid-gap: 1em;
}

#newsletter small {
  font-size: 13.3px;
  color: rgba(3, 7, 18, 0.85);
  margin-top: 1em;
  display: inline-block;
}

#newsletter small a {
  color: rgba(3, 7, 18, 0.85);
  text-decoration: underline;
}

#newsletter .klaviyo_messages {
  margin-top: 1.5em;
}

#newsletter .klaviyo_messages small {
  display: none;
}

@media (min-width: 1024px) {
  #newsletter .klaviyo_messages small {
    background-color: rgba(31, 80, 214, 0.2);
    padding: 0.5em 1em;
    border-radius: 3px;
  }
}

header.post {
  background-color: rgba(3, 7, 18, 0.04);
  color: #030712;
}

header.post #top-nav {
  background-color: #fff;
}

header.post .wrapper:not(#top-nav) {
  max-width: 1200px;
}

header.post .wrapper:not(#top-nav) > div {
  display: grid;
  grid-gap: 6.25vw;
  align-items: center;
  padding: 3.125vw 0;
}

@media (min-width: 1024px) {
  header.post .wrapper:not(#top-nav) > div {
    grid-template-columns: 1fr 1fr;
  }
}

header.post .wrapper:not(#top-nav) > div h1, header.post .wrapper:not(#top-nav) > div h2 {
  text-align: left;
}

header.post .wrapper:not(#top-nav) > div h1 {
  margin-top: 0;
}

header.post .wrapper:not(#top-nav) > div h2 {
  font-weight: normal;
  color: rgba(3, 7, 18, 0.85);
}

header.post .wrapper:not(#top-nav) > div img {
  margin-bottom: 3.125vw;
}

main.post {
  margin-bottom: 6.25vw;
}

main.post article {
  max-width: 800px;
  margin: 0 auto;
}

main.post article .update {
  display: block;
  text-align: center;
  margin: 3.125vw 0;
}

main.post article .update time::before {
  content: url("images/icons/edit-regular.svg");
  left: -0.25em;
  top: 0.15em;
}

main.post article p {
  margin-bottom: 3.125vw;
}

main.post article h2 {
  margin-top: 6.25vw;
}

main.post article h2 a {
  color: inherit;
  border-bottom: none;
}

main.post article h2 a:hover {
  color: #1F50D6;
  border-bottom: none;
}

main.post article a {
  color: #1F50D6;
  border-bottom: 1px dashed #1F50D6;
}

main.post article a:hover {
  border-bottom: 1px solid #1F50D6;
}

main.post article img, main.post article video {
  margin: 0 auto;
  display: flex;
  border: 2px solid rgba(3, 7, 18, 0.04);
}

main.post li p {
  margin: 0 !important;
}

blockquote {
  margin: 0;
  padding: 1em;
  border: #030712 solid 2px;
  border-radius: 0.15rem;
}

blockquote::before {
  content: "NOTE";
  display: inline-block;
  margin-bottom: 1em;
}

blockquote p {
  margin: 0 !important;
  line-height: 1.4;
}

#read-more {
  background-color: #030712;
  color: #fff;
  padding: 6.25vw;
}

#read-more ul {
  margin-bottom: 0;
}

#read-more header {
  font-weight: 600;
}

@media (max-width: 1023px) {
  #read-more header {
    font-size: 5.25vmin;
    margin-top: 0;
  }
}

#read-more img {
  width: 5rem;
  height: 5rem;
  display: none;
}

@media (max-width: 1023px) {
  #read-more {
    padding: 6.25vw 0;
  }
}

@media (min-width: 1024px) {
  #read-more {
    padding: 3.125vw 0;
  }
}

@media (min-width: 1024px) {
  #tool-page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 3.125vw;
  }
}

#tool-page article {
  margin: 3.125vw 0;
  position: sticky;
  top: 3.125vw;
  box-sizing: border-box;
}

@media (max-width: 1023px) {
  #tool-page article {
    padding: 6.25vw;
    padding-right: 0;
  }
}

#tool-page article h1 {
  margin: 0;
}

#tool-page aside {
  padding: 3.125vw 0;
  display: grid;
  grid-gap: 3.125vw;
}

#tool-page aside section {
  width: 100%;
}

@media (max-width: 1023px) {
  #tool-page aside section ul {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 4vmin;
  }
}

@media (min-width: 1024px) {
  #tool-page aside section ul {
    margin: 0.5em 0 0 0;
    font-size: 16.15px;
  }
}

#tool-page aside section > a {
  border-bottom: 1px solid transparent;
  color: #1F50D6;
}

#tool-page aside section > a:hover {
  border-bottom: 1px solid #1F50D6;
}

@media (max-width: 1023px) {
  #tool-page aside section > * {
    padding: 3.125vw;
  }
}

#tool-page aside .discover-more-tool-list {
  margin-top: 0;
}

#tool-page aside .discover-more-tool-list li:first-of-type a {
  border-top: 2px solid rgba(3, 7, 18, 0.04);
}

#tool-page aside .tool-tile {
  transition: border 0.4s ease-in-out;
}

#tool-page aside .tool-tile a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5em 0;
  border-bottom: 2px solid rgba(3, 7, 18, 0.04);
}

#tool-page aside .tool-tile a p {
  grid-column: 2;
  margin: 0;
  line-height: 1.4;
}

@media (max-width: 1023px) {
  #tool-page aside .tool-tile a {
    padding: 0.5em;
    grid-template-columns: 10vmin auto;
  }
}

@media (min-width: 1024px) {
  #tool-page aside .tool-tile a {
    grid-template-columns: 4vmin auto;
  }
}

#tool-page aside .tool-tile a p {
  font-size: 13.3px;
}

#tool-page aside .tool-tile a div {
  display: grid;
  column-gap: .5em;
}

#tool-page aside .tool-tile a .img-wrapper {
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #030712;
  position: relative;
  color: #fff;
  border-radius: 100%;
  display: inline-flex;
  transition: all 0.4s ease-in;
  margin-right: 0.5em;
  grid-row: span 2;
}

@media (max-width: 1023px) {
  #tool-page aside .tool-tile a .img-wrapper {
    height: 10vmin;
    width: 10vmin;
  }
}

@media (min-width: 1024px) {
  #tool-page aside .tool-tile a .img-wrapper {
    height: 4vmin;
    width: 4vmin;
  }
}

#tool-page aside .tool-tile a .btn, #tool-page aside .tool-tile a .filter.active {
  color: #1F50D6;
  font-weight: 700;
  padding: 0.75em 1.5em;
  border-radius: 1.5em;
  margin-top: 1.5em;
}

#tool-page aside .tool-tile a .btn:hover, #tool-page aside .tool-tile a .filter.active:hover {
  background-color: rgba(31, 80, 214, 0.2);
}

#tool-page aside .tool-tile h2 {
  margin: 0;
}

@media (max-width: 1023px) {
  #tool-page aside .tool-tile h2 {
    font-size: 4vmin;
  }
}

@media (min-width: 1024px) {
  #tool-page aside .tool-tile h2 {
    font-size: 13.3px;
  }
}

.tool-list-items {
  display: grid;
  grid-gap: 1rem;
}

.tool-list-items .tool-list-item {
  transition: all 0.2s ease-in-out;
}

.tool-list-items .tool-list-item:hover {
  transform: scale(1.01);
}

.tool-list-items .tool-list-item:hover h2 {
  color: #1F50D6;
}

.tool-list-items .tool-list-item:hover .img-wrapper {
  transform: rotate(360deg);
}

.tool-list-items .tool-list-item a {
  padding: 1rem;
  display: block;
}

.tool-list-items .tool-list-item a > div {
  display: grid;
  align-items: center;
}

@media (max-width: 1023px) {
  .tool-list-items .tool-list-item a > div {
    grid-gap: .5rem;
  }
}

@media (min-width: 1024px) {
  .tool-list-items .tool-list-item a > div {
    grid-template-columns: 4vmin 15vmin auto;
    grid-gap: 1rem;
  }
}

.tool-list-items .tool-list-item h2 {
  margin: 0;
  line-height: 1.4rem;
}

@media (min-width: 1024px) {
  .tool-list-items .tool-list-item h2 {
    padding-right: 1rem;
  }
}

.tool-list-items .tool-list-item h2 + p {
  margin: 0;
}

.tool-list-items .tool-list-item .img-wrapper {
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #030712;
  position: relative;
  color: #fff;
  border-radius: 100%;
  display: inline-flex;
  transition: all 0.4s ease-in;
}

@media (max-width: 1023px) {
  .tool-list-items .tool-list-item .img-wrapper {
    height: 8vmin;
    width: 8vmin;
  }
}

@media (min-width: 1024px) {
  .tool-list-items .tool-list-item .img-wrapper {
    height: 4vmin;
    width: 4vmin;
  }
}

#categories h1 {
  margin-top: .4rem;
}

::selection {
  background-color: rgba(216, 228, 255, 0.5);
}

::-moz-selection {
  background-color: rgba(216, 228, 255, 0.5);
}
